.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    left: 0;
    height: 20%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    &-caption {
        min-height: 100px;
        margin: 10px 10px;
        @include fontSetup();
        &-init {
            margin-left: -488px;
            @include fontSetup();
        }
    }
}